h1{
  text-align: center;
  border-bottom: 1px gray solid;
  margin : 0px;
  padding: 10px;
}
ol{
  border-right: 1px gray solid;
  width : 100px;
  margin : 0px;
  padding-top: 20px;
  font-size: 18px;
}
a{
  text-decoration: none;
  color: blue;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr
}
@media(max-width:400px){
  h1{border-bottom: none;}
  ol{border-right: none;}
  #grid{display: block;}
  #grid #article{padding-left: 20px}
}
